page-home {

}

.card-background-page {

background-image: url(../../assets/imgs/bg.jpg);
	background-color: white;
	background-size: cover;

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 68%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 82%;
    width: 100%;
    color: #fff;
  }

}